:root {
  --vp-font-family-base: 'Montserrat', sans-serif;
  --vp-shadow-6: 0px 4px 15px rgba(47, 63, 147, 0.08);
  --vp-border: var(--vp-border-width) solid var(--vp-c-gray);
  --vp-border-width: 4px;
  --vp-border-radius: 20px;

  --vp-c-gray: #F7F7F7;

  --vp-c-blue: #0ea5e9;
  --vp-c-blue-dimm-1: rgba(14, 165, 233, 0.05);
  --vp-c-blue-dimm-2: rgba(14, 165, 233, 0.2);
  --vp-c-blue-dimm-3: rgba(14, 165, 233, 0.5);

  --vp-c-yellow: #ecb732;

  --vp-custom-block-info-border: var(--vp-c-blue-dimm-2);
  --vp-custom-block-info-bg: var(--vp-c-blue-dimm-1);
  --vp-custom-block-info-text: var(--vp-c-neutral);

  --vp-custom-block-tip-border: var(--vp-c-green-dimm-2);
  --vp-custom-block-tip-bg: var(--vp-c-green-dimm-1);
  --vp-custom-block-tip-text: var(--vp-c-neutral);

  --vp-custom-block-warning-border: var(--vp-c-yellow-dimm-2);
  --vp-custom-block-warning-bg: var(--vp-c-yellow-dimm-1);
  --vp-custom-block-warning-text: var(--vp-c-neutral);

  --vp-custom-block-danger-border: var(--vp-c-red-dimm-2);
  --vp-custom-block-danger-bg: var(--vp-c-red-dimm-1);
  --vp-custom-block-danger-text: var(--vp-c-neutral);

  --vp-custom-block-details-border: var(--vp-c-divider);
  --vp-custom-block-details-bg: var(--vp-c-bg-soft-up);

  --vp-local-search-highlight-bg: transparent;
  --vp-local-search-highlight-text: var(--vp-c-green);
  --vp-local-search-bg: var(--vp-c-bg-soft);
  --vp-local-search-result-bg: var(--vp-c-white);
  --vp-local-search-result-shadow: 0 1px 3px 0 #d4d9e1;
  --vp-local-search-footer-shadow: 0 -1px 0 0 #e0e3e8, 0 -3px 6px 0 rgba(69, 98, 155, .12);

  --vp-layout-max-width: 1600px;
}

.dark {
  --vp-local-search-result-bg: var(--vp-c-bg-soft-mute);
  --vp-local-search-result-shadow: none;
  --vp-local-search-footer-shadow: none;
}

.custom-block {
  border-radius: var(--vp-border-radius);
  border-width: var(--vp-border-width);
}

.VPNav {
  background-color: var(--vp-c-bg);
  border-radius: 0 0 var(--vp-border-radius) var(--vp-border-radius);
  box-shadow: var(--vp-shadow-6);
}

.VPNavBar.has-sidebar {
  border-bottom: none;
}

.VPNavBarTitle .title {
  font-size: 0;
  border: none;
}

.VPSidebarItem.level-0 {
  padding-bottom: 10px !important;
}

.VPDocAsideOutline {
  border: var(--vp-border);
  border-radius: var(--vp-border-radius);
  padding: 20px;
}

.VPDocAsideOutline .content {
  padding-left: 20px;
  border-left: none;
}

.VPDocAsideOutline .outline-marker {
  width: 4px;
  left: -24px;
}

.VPDoc .content-container {
  max-width: unset !important;
}

.pager .pager-link {
  border-width: 4px;
  border-color: var(--vp-c-divider);
}

.curtain {
  display: none;
}

@media (min-width: 960px) {
  .content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .VPDoc{
    padding-right: 24px !important;
  }
}

@media (min-width: 960px) and (max-width: 1599px) {
  .VPNavBar,
  .VPSidebar,
  .VPDoc {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .VPSidebar {
    width: calc(var(--vp-sidebar-width) - calc(32px - 15px)) !important;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .VPDoc.has-aside .content-container {
    max-width: 860px !important;
  }

  .VPContent.has-sidebar{
    padding-left: calc((100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width) + 3%) !important;
  }
}

@media (min-width: 1600px){
  .VPDoc.has-aside .content-container {
    max-width: 925px !important;
  }
}

kbd {
  border: 1px solid var(--vp-c-border);
  box-shadow: var(--vp-c-mute-darker) 0px 1px 1px 0px, var(--vp-c-neutral-inverse) 0px 1px 0px 0px inset;
  background-color: var(--vp-c-mute-dark);
  border-radius: 3px;
  display: inline-block;
  margin: 0 .1em;
  overflow-wrap: break-word;
  padding: .1em .6em;
  text-shadow: 0 1px 0 var(--vp-c-white);
}

.vp-doc p {
  line-height: 26px;
}

.vp-doc li + li {
  margin-top: .25em;
}

.vp-doc table {
  line-height: 1.5;
}

.vp-doc ol {
  counter-reset: li;
  list-style: none;
  position: relative;
}

.vp-doc ol > li {
  padding-left: 1.25rem;
}

.vp-doc ol > li::before {
  width: calc(1.5rem - 2px);
  height: calc(1.5rem - 2px);
  font-size: calc(1rem - 2px);
  margin: 1px 0 0 .5rem;
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: 0;
  color: var(--vp-c-text-1);
  font-weight: 500;
  text-align: center;
  border-radius: 50%;
  background-color: var(--vp-sidebar-bg-color);
}

@media (max-width: 1024px) {
  .vp-doc table {
    border: 0;
  }

  .vp-doc table tbody {
    display: block;
  }

  .vp-doc table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .vp-doc table tr {
    border-bottom: 1px solid var(--vp-c-divider);
    display: block;
    margin-bottom: 1rem;
  }

  .vp-doc table tr:nth-child(2n) {
    background-color: inherit;
  }

  .vp-doc table td {
    border-top: none;
    display: block;
    overflow-x: auto;
  }

  .vp-doc table td::before {
    display: block;
    content: attr(data-label) ':';
    color: var(--vp-c-text-2);
  }

  .vp-doc table td:empty {
    display: none;
  }

  .vp-doc table td:last-child {
    border-bottom: 0;
  }
}
